<h2>Password recovery</h2>
<form action="/Password recovery" method="POST" />
    <label>Username</label>
    <input type="text" name="username" required/>

    
    <label>Recovery question - what is your patronus?</label>
    <input type="text" name="secretQuestion" required/>
    

    <button type="submit">Submit</button>
</form>
<br>
<button type="submit"><a>Return to login</a></button>