<h1>What Hogwarts House would you be in?</h1>
<p>Are you a brave Gryffindor, a cunning Slytherin, smart Ravenclaw, or kind Hufflepuff?</p>

<form action="/dashboard/sorting-result" method="POST">
    <button type="submit">Reveal</button>
</form>





