<h1>What Hogwarts House would you be in?</h1>
<p>Are you a brave Gryffindor, a cunning Slytherin, smart Ravenclaw, or kind Hufflepuff?</p>


<button><a href="/dashboard/sorting-result">Enter Hogwarts</a></button>





