<h1></h1>
<h3>"Professor Minerva McGonagall: Greetings {{loggedInUser}}."</h3>

<br>
<button><a href="/houses">Common room</a></button>
<hr/>
<br>
<button><a href="/tournaments">Tournament</a></button>
<hr/>
<br>
<button><a href="/students">Students</a></button>
<hr/>
<br>
<button><a href="/match">Witch</a></button>
<hr/>
