<div class="index container-fluid">
    <div class="index-content">
        <h1>You have been invited to lead your very own distinct quidditch team to victory</h1>
        <p>Take part in a centuries old wizarding tradition</p>


        <a href="/login">Accept your invitation</a>
    </div>
</div>
