<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <script src="/js/script.js" defer></script>
   </head>

   <body>
   <div class="flex-horizontal">
         
         <a href="/">Home</a>
         
         
         <a href="/houses/">Houses</a>
         
               <a href="/dashboard">Dashboard</a>
         
               {{!-- <a href="/halls/create">Create Hall</a> --}}
         
            <a href="/students">Students</a>
         
            {{!-- <a href="/students/create">Create Student</a> --}}
         
            {{!-- 
            
            Deprecated

            <a href="/teachers">Teachers</a>
         
            <a href="/teachers/create">Create Teacher</a> --}}
         
            <a href="/tournaments">tournaments</a>
         
            {{!-- <a href="/tournaments/create">Create Tournament</a> --}}
         
            <a href="/auth">auth</a>
         
            
         
          {{#if loggedInUser}}
         <p>Welcome {{loggedInUser}}</p>
         
            <form action="/logout" method="POST">
            <button type="submit">Logout</button>
            </form>

         {{else}}

         <a href="/signup">Singup</a>
        
            <a href="/login">Login</a>

      {{/if}}
   </div>

 
      {{{body}}}

      
   </body>

</html>