<h1>students list</h1>
{{#each students}}
 <a href="students/{{id}}">  {{name}}  </a>



<br>
house: {{house}}


<br>
<br>
<br>
{{/each}}
<hr/>
<button><a href="/dashboard">Go back to Dashboard</a></button>

