<div class="log-div halls-div-img">
    <div class="student-list-page row">
        {{#each students}}
        <div class="student-list col-md-2">
            <h4>{{name}}</h4>
            <p>House: {{house}}</p>
            <a href="students/{{id}}">See Student</a>
        </div>
        {{/each}}
        {{#if errorMessage}}
            <h1>{{errorMessage}}</h1>
        {{/if}}
    </div>
</div>



