body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.top-nav {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
}

.top-nav img {
  width: 120px;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 80px;
  background-color: transparent;
  transition: background-color .3s ease-in;
  position: fixed;
  color: #fff;
}

.nav-bar:hover {
  background-color: #10141b;
}

.nav-bar a {
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  color: #cfcfcf;
  font-size: 1em;
  font-weight: 600;
}

.nav-bar button {
  background-color: transparent;
  border: none;
  color: #fff;
}

.index {
  background-image: url("/images/Promo-Modules_three_brothers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 800px;
  color: #fff;
}

.index-content {
  margin-top: 120px;
  max-width: 800px;
}

.index-content a {
  text-decoration: none;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 15px 60px;
  border-radius: 30px;
  transition: background-color .3s ease-in;
}

.index-content h1 {
  margin-bottom: 40px;
}

.index-content p {
  margin-bottom: 40px;
}

.index-content a:hover {
  background-color: #6b63b5;
  color: #fff;
}

.log-div {
  width: 100vw;
  min-width: 100%;
  max-width: 100%;
  height: 750px;
}

.login-page {
  background-image: url("/images/bg@2x.7c1cbd6e.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.login-form {
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
}

.login-form input {
  margin-bottom: 20px;
  height: 40px;
}

.login-form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.login-form button {
  padding: 5px 25px;
  border: none;
  border-radius: 13px;
  background-color: #6b63b5;
  transition: background-color .1s ease-in;
  color: #fff;
}

.login-form button:hover {
  background-color: #3c3866;
}

.login-form a {
  color: #828bdb;
}

.login-form a:hover {
  color: #3c3866;
}

.signup-page {
  background-image: url("/images/J.K-R-Copy-compressor.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.signup-form {
  height: 300px;
  width: 350px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
}

.signup-form input {
  margin-bottom: 20px;
  height: 40px;
}

.signup-form button {
  padding: 5px 25px;
  border: none;
  border-radius: 13px;
  background-color: #6b63b5;
  transition: background-color .1s ease-in;
  color: #fff;
  margin-top: 10px;
}

.signup-form button:hover {
  background-color: #3c3866;
}

.sorting-div-img {
  background-image: url("/images/Webp.net-gifmaker.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.sorting-page {
  padding-top: 300px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: #fff;
  text-align: center;
}

.sorting-page h1 {
  margin-bottom: 40px;
}

.sorting-page p {
  margin-bottom: 40px;
}

.sorting-page a {
  text-decoration: none;
  color: #fff;
  background-color: #6b63b5;
  padding: 15px 60px;
  border-radius: 30px;
  transition: background-color .3s ease-in;
}

.sorting-page a:hover {
  background-color: #3c3866;
  color: #fff;
}

.dashboard-page {
  padding-top: 180px;
  background-image: url("/images/hpfc_Mmap_CS_HPL.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 60px;
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dashboard-page h3 {
  margin-left: 60px;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.dashboard-content img {
  width: 300px;
  margin-top: 60px;
  border-radius: 30px;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  justify-content: space-evenly;
}

.dashboard-buttons a {
  text-decoration: none;
  color: #fff;
  background-color: #6b63b5;
  width: 300px;
  height: 60px;
  border-radius: 30px;
  transition: background-color .3s ease-in;
  text-align: center;
  padding-top: 17px;
}

.dashboard-buttons a:hover {
  background-color: #3c3866;
  color: #fff;
}

.tournament-page {
  padding-top: 120px;
  background-image: url("/images/Discover-Your-House_Crest-Composite_Full-Width.jpg");
  background-position: center;
  background-position-y: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 100%;
  max-height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tournament-page h1 {
  padding-top: 20px;
}

.tournament-page a {
  text-decoration: none;
  color: #fff;
  background-color: #6b63b5;
  padding: 15px 60px;
  border-radius: 30px;
  transition: background-color .3s ease-in;
  margin-top: 20px;
}

.tournament-page a:hover {
  background-color: #3c3866;
  color: #fff;
}

.tournament-board {
  width: 1080px;
  height: 420px;
  border: 2px solid #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.players {
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 10px #fff;
}

.student-team-page {
  padding-top: 270px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.student-card {
  background-color: #413e63;
  width: 320px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: -15px 20px #6b63b5;
}

.student-list-page {
  padding-top: 200px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  text-align: center;
}

.student-list {
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 100px 20px;
  text-align: center;
  background-color: transparent;
  transition: background-color .3s ease-in;
}

.student-list:hover {
  background-color: #000;
}

.student-list a {
  text-decoration: none;
  color: #fff;
  background-color: #6b63b5;
  padding: 5px 20px;
  border-radius: 5px;
  transition: background-color .3s ease-in;
}

.student-list a:hover {
  background-color: #3c3866;
  color: #fff;
}

.house-page {
  padding-top: 200px;
}

/* Paulo's classes */

.halls-div-img {
  background-image: url("/images/Halls.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.missing-div-img {
  background-image: url("/images/missing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.error-div-img {
  background-image: url("/images/error.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

/* Win - lose conditions */

.match-div-img {
  background-image: url("/images/match.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.elimination-div-img {
  background-image: url("/images/Elimenation.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.champion-div-img {
  background-image: url("/images/Champion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.win-div-img {
  background-image: url("/images/match-win.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.lose-div-img {
  background-image: url("/images/match-lose.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

/* modifiers*/ 

.dark-div-img {
  background-image: url("/images/dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.defense-div-img {
  background-image: url("/images/patronus.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.alchemy-div-img {
  background-image: url("/images/patronus.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.transfiguration-div-img {
  background-image: url("/images/transfiguration.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.black-text {
  color: black;
}

.test2 {
  background-color: cornsilk;
  border: black solid 2px;
  border-radius: 25px;
  padding: 20px;
}


































