<div class="log-div match-div-img">
    <div class="sorting-page">
        <form action="/match" method="POST">
            <h2>Time to prove yourself</h2>
            <button class="celebrate-button" type="submit">Play</button>
        </form>
    </div>
</div>
