<div class="log-div phase-div-img">
    <div class="sorting-page">
        <div class="student-card">
             <h2>{{weatherResponse}}</h2>
             <h3>{{eventWeather}}</h3>
            <a href="/match/update-1-results">Play</a>
       </div>
    </div>
</div>










