<div class="log-div elimination-div-img">
    <div class="sorting-page"><div class="student-card">      
        <h4>You did not achieve the accolades of winning the Hogwarts quidditch cup, perhaps next year</h4>
        <form action="/finish" method="POST">
             <button class="celebrate-button" type="submit">Farewell Hogwarts</button>
         </form></div>
    </div>
</div>


