<div class="log-div alchemy-div-img">
    <div class="sorting-page">
        <form action="/match/match-dark" method="POST">
             <p>You have captured the golden snitch!</p>
            <button><a href="/match/match-win">Victory!</a></button>
        </form>
    </div>
</div>