<div class="log-div sorting-div-img">
    <div class="sorting-page">
        <form action="/match" method="POST">
            <p>Time to prove yourself</p>
            <button type="submit">Play</button>
        </form>
    </div>
</div>
