<div class="log-div lose-div-img">
    <div class="sorting-page"><div class="student-card">
        <h2>It seems that this year's divinations were not in your favour.</h2>
        <form action="/match/match-lose" method="POST">
            <h6>Though your pupils gave it there all they were just short of securing victory</h6>
            <button class="celebrate-button" type="submit">Live to play for another day</button>
        </form></div>
    </div>
</div>









