<div class="log-div phase-div-img">
    <div class="sorting-page"><div class="student-card">

            <h2>You have successfully resolve the conflict </h2>

        <form action="/match/update-1-results" method="POST">
            <h2>Time to prove yourself</h2>
            <button class="celebrate-button" type="submit">Play</button>
        </form></div>
    </div>
</div>










