<div class="log-div defense-div-img">
    <div class="sorting-page"><div class="student-card">
            <p>"Your pupils heart's proved to be of the most purest kind"</p>
       <form action="/match/match-defense" method="POST">
        <p>"Your pupils heart's proved to be of the most purest kind"</p>
            <p>Brave forth with a tenacity capable of breaking the most wicked of hexes</p>
            <button type="submit">Play</button>
        </form></div>
    </div>
</div>







