<div class="log-div golden-div-img">
    <div class="sorting-page"><div class="student-card">
        <form action="/match/match-dark" method="POST">
             <p>You have captured the golden snitch!</p>
            <a href="/match/match-win">Victory!</a>
        </form></div>
    </div>
</div>