<div class="log-div alchemy-div-img">
    <div class="sorting-page">
        <form action="/match/match-alchemy" method="POST">
            <h2>Brave forth with tenaity capable of breaking the most wicked of hexes</h2>
            <button class="celebrate-button" type="submit">Play</button>
        </form>
    </div>
</div>



{{!-- 
<h1>What Hogwarts House would you be in?</h1>
        <p>Are you a brave Gryffindor, a cunning Slytherin, smart Ravenclaw, or kind Hufflepuff?</p>
        <a href="/dashboard/sorting-result">Enter Hogwarts</a> --}}
