<div class="log-div champion-div-img">
    <div class="sorting-page">
        <div class="student-card">
        <h2>You have exceed all expectations and become the champions</h2> 
        <h4>Though the tournament has come to an end worry not for more exciting adventures and tales await you traveller.</h4>
        <form action="/finish" method="POST">
         <button class="celebrate-button" type="submit">Farewell Hogwarts</button>
        </form></div>
    </div>
</div>




