<h1>Edit Book</h1>
<form method="POST" action="/houses/{{id}}/edit">
    <label>name</label>
    <input type="text" name="name" value={{name}} />
    <label>Description</label>
    <textarea rows="5" cols="20" name="description">{{description}} </textarea>
    <button type="submit">Update</button>
</form>