<div class="log-div sorting-div-img">
    <div class="sorting-page">
        <h1>You are going to be part of house {{houseRoomImage}}</h1>
        <a href="/halls">Start learning</a>
    </div>
</div>