<div class="log-div sorting-div-img">
    <div class="sorting-page">
        <h1>What Hogwarts House would you be in?</h1>
        <p>Are you a brave Gryffindor, a cunning Slytherin, smart Ravenclaw, or kind Hufflepuff?</p>
        <a href="/halls/sorting-result">Enter Hogwarts</a>
    </div>
</div>





