<div class="log-div">
    <div class="dashboard-page">
        <div class="dashboard-content">
            <h3>"Professor Minerva McGonagall: Greetings {{loggedInUser}}."</h3>
            <img src="{{houseRoomImage}}" alt="Common Room">
        </div>
        <div class="dashboard-buttons">
            <a href="/houses">Common Room</a>
            <a href="/tournaments">Tournament</a>
            <a href="/students/team">Team</a>
            <a href="/students">Students</a>
            <a href="/match">Match</a>
            <a href="/create-spell">...</a>
        </div>
    </div>
</div>


