<div class="log-div error-div-img">
    <div class="sorting-page">

        <h2>"It seems you do not have enough members to participate in the quidditch cup."</h2>
        <a href="/students/team">Team</a>
    </div>
</div>