<div class="log-div error-div-img">
    <div class="sorting-page"><div class="student-card">
        <h6>{{name}}</h6>
        <button><a href="/spells/{{id}}/edit">Reflecton on your witchcraft</a></button>
        
        <a href="/spells">...</a>
</div>

    </div>
</div>
