<div class="log-div error-div-img">
    <div class="sorting-page">
        <h1>So you wish to win at all costs?</h1>
<h1>So be it. Let us cast a a spell to ensure victory</h1>

<form method="POST" action="/create-spell"  enctype="multipart/form-data" >
    <label>spell</label>
    <input type="text" name="name" />
    <button type="submit">Cast</button>
</form>
<br>

<a href="/spells">...</a>
    </div>
</div>