<div class="log-div error-div-img">
    <div class="sorting-page"><div class="student-card">
        <h6>...</h6>
        <form method="POST" action="/spells/{{id}}/edit">
            <label>Spell</label>
            <input type="text" name="title" value={{name}} />
            <button type="submit">Recast your spell</button>
        </form>
      <a href="/spells">...</a>
</div>

    </div>
</div>
