<div class="log-div error-div-img">
    <div class="sorting-page"> <div class="student-card">
        <h6>So you wish to win at all costs?</h6>
<h6>So be it. Let us cast a a spell to ensure victory</h6>
</div>
<form method="POST" action="/create-spell"  enctype="multipart/form-data" >
    <label>spell</label>
    <input type="text" name="name" />
    <button type="submit">Cast</button>
</form>


<a href="/spells">...</a>
    </div>
</div>