<div class="log-div error-div-img">
    <div class="sorting-page">
        <h1>...</h1>
        <form method="POST" action="/spells/{{id}}/edit">
            <label>Spell</label>
            <input type="text" name="title" value={{name}} />
            <button type="submit">Recast your spell</button>
        </form>
        <br>

<a href="/spells">...</a>
    </div>
</div>
