<div class="log-div error-div-img">
    <div class="sorting-page">
        <h1>{{name}}</h1>
        <button><a href="/spells/{{id}}/edit">Reflecton on your witchcraft</a></button>
        <hr/>
        <hr/>
        <br>

<a href="/spells">...</a>
    </div>
</div>
